@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
h1 {
  color: aqua;
  font-size: 50px;
} */

/* body {
  width: 80%;
  margin: auto;
  padding: 30px;
  text-align: center;
  font-size: small;
  font-family: fantasy;
  background-color: rgb(20, 20, 20);
  /* background-image: url("timothy-eberly-dTLlhgeEJWg-unsplash.jpg"); */
/* background-size: cover;
  background-repeat: no-repeat;
} */
/* input,
button {
  background-color: silver;
  padding: 10px;
  font-size: inherit;
  font-family: inherit;
  outline-color: blueviolet;
}  */

/* button {
  color: darkblue;
  font-style: italic;
  font-size: 20px;
  transition: all 3s;
} */
/* 
button:hover {
  color: brown;
}

input[type="number"] {
  width: 80px;
}

ul {
  display: inline-block;
  text-align: left;
}

.movies li {
  padding: 10px;
}

.movies li:nth-child(odd) {
  background-color: grey;
}

.movies li:nth-child(even) {
  background-color: white;
}

a {
  color: darkblue;
  transition: all 3s;
  font-size: 20px;
  font-style: italic;
}

a:hover {
  color: brown;
}

img {
  height: 30vh;
  transition: all 2s;
}

img:hover {
  filter: grayscale();
  /*filter:blur(2px)*/
/*filter: brightness(20%);*/
/* transform: rotate(5deg) scale(1.2);
}

p,
h2 {
  color: aqua;
  font-size: 20px;
} */
