<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.js"></script> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie recommendation</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap" rel="stylesheet">
</head>
<body class="font-Montserrat w-full h-screen flex place-content-center items-center bg-color-1 text-center text-sm">
    <div class="bg-color-3 rounded-md overflow-hidden shadow-lg p-5 w-80">
        <h1 class="text-6xl font-Righteous text-color-5">Movie</h1>
        <h1 class="text-4xl font-Righteous text-color-5">recommender</h1>
        <!-- <h4>Welcome to my recommender page</h4> -->
        <!-- <img src="https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW92aWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" width="400" height="400"/> -->
        <br/>
        <form action="/recommendation">
            <select class="p-3 rounded text-color-2" name="method">
                <option value="Random">Random</option>
                <option value="Cosine">Cosine Similarity</option>
                <option value="NMF">NMF</option>
            </select>
            <br></br>

            {%for _ in range(3)%}
            <div class="flex justify-between w-full">
               <input type="text" name="title" placeholder="title" list="list_movies" class="mr-2 mb-3 p-2 w-60 rounded" required>
               <input type="number" name="rating" placeholder="1-5" required max="5" min="1" class="mb-3 w-10 p-2 rounded">  
            </div>
            {%endfor%}
            <input class="w-full bg-white hover:bg-gray-100 text-gray-800 font-semibold py-3 px-4 border border-gray-400 rounded shadow mb-5" type="submit" value="Show rec">
            <!-- <button type="submit">Show Recom</button>     -->
        </form>
    </div>
</body>

    
<datalist id="list_movies">
    {%for mov in movies%}
    <option value="{{mov}}"></option>
    {%endfor%}
</datalist>
<!-- <script src="/static/sketch.js"></script> -->


</body>
</html>